absl-py
aniso8601
astunparse
bcrypt
Brotli
cachetools
certifi
charset-normalizer
click
cx-Oracle
Flask
Flask-Compress
Flask-Cors
Flask-JWT-Extended
Flask-RESTful
flatbuffers
gunicorn
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
PyJWT
pymongo
pytesseract
python-dateutil
pytz
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
urllib3
uWSGI
Werkzeug
wrapt
zipp